@import "tailwindcss";

@theme {
  --color-primary: #2e7d32;
  --color-secondary: #66bb6a;
  --color-tertiary: #ffb300;
  --color-navbar: #fefbe9;
  --color-text: #1b1c17;
  --color-background: #fbf9f1;
  --color-foreground: #efeee5;

  --color-primary-50: #c8ffbf;
  --color-primary-100: #a3f69c;
  --color-primary-200: #88d982;
  --color-primary-300: #6dbd6a;
  --color-primary-400: #53a252;
  --color-primary-500: #38873a;
  --color-primary-600: #1b6d24;
  --color-primary-700: #005312;
  --color-primary-800: #003909;
  --color-primary-900: #003909;

  --color-secondary-50: #c7ffc2;
  --color-secondary-100: #9ff79f;
  --color-secondary-200: #83da85;
  --color-secondary-300: #69be6c;
  --color-secondary-400: #4ea254;
  --color-secondary-500: #32873d;
  --color-secondary-600: #126d27;
  --color-secondary-700: #005318;
  --color-secondary-800: #00390e;
  --color-secondary-900: #002105;

  --color-tertiary-50: #ffeeda;
  --color-tertiary-100: #ffdeac;
  --color-tertiary-200: #ffba38;
  --color-tertiary-300: #e29e00;
  --color-tertiary-400: #c08600;
  --color-tertiary-500: #9e6e00;
  --color-tertiary-600: #7e5700;
  --color-tertiary-700: #604100;
  --color-tertiary-800: #432c00;
  --color-tertiary-900: #281900;
}
